<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<h1>All Messages</h1>
<div class="post">
    <a href="/web/message-create" ></a>
</div>
<table class="styled-table">
    <thead>
    <tr>
        <th th:text="#{title}"></th>
        <th th:text="#{body}"></th>
        <th class="author-cell-header" th:text="#{author}"></th>
        <th class="date-cell-header" th:text="#{date}"></th>
        <th class="edit-cell-header" th:text="#{lastedit}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td th:text="${message.title()}">Important Announcement</td>
        <td class="messageContainer">
            <span th:text="${message.body()}">Hello world.</span>
            <a th:href="'/web/messages/translate?id=' + ${message.id()}">
                <h5 class="translateBtn" th:text="#{translate}">translate</h5>
            </a>
        </td>
        <td class="author-cell" th:text="${message.user()}">John Doe</td>
        <td class="date-cell" th:text="${message.date()}">2024-02-27</td>
        <td>
            <p th:text="${auditable.lastModified()}"></p>
            <p th:if="${auditable.lastModified() != null}" th:text="#{editedby} + ': ' + ${message.user()}"></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
